@tailwind base;
@tailwind compnents;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4  border-b-4 rounded text-center;
}
.btn:active {
    @apply border-b-0 mt-1
}

.btn-blue {
    @apply bg-blue-500 text-white border-blue-700;
}
.btn-blue:hover {
    @apply bg-blue-400 border-blue-500;
}

.btn-green {
    @apply bg-green-500 text-white border-green-700;
}
.btn-green:hover {
    @apply bg-green-400 border-green-500;
}

.btn-red {
    @apply bg-red-500 text-white border-red-700;
}
.btn-red:hover {
    @apply bg-red-400 border-red-500;
}

p {
    @apply text-center font-bold
}

.p-red {
    @apply text-red-600;
}

.p-black {
    @apply text-black;
}